# ===== Build / artefatos =====
build/
Debug/
Release/
*.o
*.obj
*.a
*.lib
*.elf
*.hex
*.bin
*.map
*.lst
*.list
*.crf
*.lnp
*.htm
*.dep
*.d
*.srec
*.i
*.pre
*.bc

# ===== STM32CubeMX / STM32CubeIDE =====
.mxproject
mx.scratch
.settings/
*.launch

# ===== VS Code =====
.vscode/

# ===== Sistema operacional =====
.DS_Store
Thumbs.db
